<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            display: block;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
       <login-form/>
    </div>
</body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({

        })
        app.component('login-form', {
            template:`
            <h1>{{ title }}</h1>
            <form @submit.prevent="handleSubmit">
                <custom-input v-model="username" v-bind:label="labelUsername" v-bind:type="email" :placeholder="'Insert username'"/>
                <custom-input v-model="password"  v-bind:label="labelPassword" :type="pass"/>
                <custom-input v-bind:label="labelName"/>
                <button>Login</button>
            </form>
            `,
            data(){
                return{
                    title: 'Login Page',
                    labelUsername: 'Username',
                    username: 'aaa',
                    email: 'email',
                    labelPassword: 'Password',
                    password: '',
                    pass: 'password',
                    labelName: 'Name',
                }
            },
            methods: {
                handleSubmit(){
                    console.log(this.username, this.password)
                }
            }
        })
        app.component('custom-input', {
            template: `
            <label>{{ label }}
                    <input :type="type" v-model="inputValue" :placeholder="placeholder">
            </label>
            `,
            props: ['label', 'type', 'placeholder', 'modelValue'],
            computed: {
                inputValue:{
                    set(value){
                        this.$emit('update:modelValue', value)
                    },
                    get(){
                        return this.modelValue
                    }
                }
            }
        })
        app.mount('#app')
    </script>

</html>

